@media (max-width: 1000px){
  .title_1{
    /* weight:300px; */
    margin:20px 40%;
    /* margin-top:20px; */

  }
  .title_2{
    /* weight:300px; */
    margin:20px 34%;
    /* margin-top:20px; */
  }
  .OneContents{
    margin:10px 10px;
    margin-bottom:20px;
  }
}
